{% extends 'photos.html.twig' %}

{% block title %}{{ parent() }}Hello IndexController!{% endblock %}

{% block body %}
    {{ parent() }}
{#    {% for comic in comics %}#}
{#        <img src="comics/{{ comic.filename }}" alt="">#}
{#        <a href="#">#}
{#            <img src="/../like.jpeg">#}
{#        </a>#}
{#        <p>Likes: {{ comic.getNumOfLikes }}</p>#}
{#    {% endfor %}#}
{% endblock %}
