{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Hello IndexController!{% endblock %}

{% block body %}
    {% for comic in comics %}
        <img src="comics/{{ comic.filename }}" alt="">
        <p>Likes: {{ comic.getNumOfLikes }}</p>
    {% endfor %}
{% endblock %}
