{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% for comic in comics %}
        <img src="/../comics/{{ comic.filename }}" alt="">
        {% if app.user %}
            <a href="#">
                <img src="/../lajkbang.png" height="50">
            </a>
        {% endif %}
        <p>Likes: {{ comic.getNumOfLikes }}</p>

    {% endfor %}
{% endblock %}
